<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Show Cars</title>
</head>
<body>
<h1>Все автомобили</h1>

<table>
    <tr>
        <th>Марка</th>
        <th>Модель</th>
        <th>Номер</th>
    </tr>
    <tr th:each="cars : ${allCars}">
        <td th:text="${cars.marka}">Марка</td>
        <td th:text="${cars.model}">Модель</td>
        <td th:text="${cars.number}">Номер</td>

    </tr>
</table>

<p>
    <a href="../index.html" th:href="@{/}">Вернуться</a>
</p>
<form th:action="@{showCars?count='count'}">
    <label for="count">Введите количество автомобилей</label>
    <input type="text" th:name="count" id="count"/>
    <input type="submit" th:value="Показать">

</form>

</body>
</html>
