<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body>
<div>
    <th:block th:each="msg : ${messages}">
        <h1 th:text="${msg}"></h1>
    </th:block>
</div>
<br>
<form action="cars/showCars">
    <input type="submit" value="Показать все автомобили"/>
</form>
<br>
<form action="cars/enterCar">
    <input type="submit" value="Добавить автомобиль"/>
</form>
</body>
</html>